@import "fonts.css";

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 18px 0;
    background: rgba(0, 0, 0, 0.4);
}

.header-title-link {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    margin-left: 79px;
}

.header-title-link:hover {
    color: #01813F;
}

.header-icons-log-sign {
    display: flex;
    align-items: center;
    margin-right: 79px;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-right: 25px;
}

svg.icon:hover path {
    fill: #01813F;
    cursor: pointer;
}

.header-log-sign::before {
    content: '';
    border: 1px solid #fff;
    opacity: 0.5;
    margin-right: 27px;
}

.header-log-in-out {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}

.header-log-in-out:hover {
    color: #01813F;
}

.welcome {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}

.container {
    margin: auto;
    padding: 0 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

.container::after {
    content: '';
    background: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 32px;
    left: 0;

}

.sign-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 15px;
}

.sign-up-link {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in-link {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.log-in-link:hover {
    color: #01813F;
}

.buttons {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 31px;
    position: relative;
}

.buttons-img {
    padding-right: 30px;
}

.fb-btn-word::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 40px;
    height: 28px;
    border-right: 1px solid #0A162F;
    opacity: 0.1;
}

.google-btn-word::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 220px;
    height: 28px;
    border-right: 1px solid #2B0D09;
    opacity: 0.1;
}

.fb-btn-link {
    display: flex;
    align-items: center;
    background: #305DB8;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 12px 22px 12px 16.7px;
}

.fb-btn-link:hover {
    background: #022263;
}

.g-btn-link {
    display: flex;
    align-items: center;
    background: #DF4A32;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 15px 27px 14px 12px;
}

.g-btn-link:hover {
    background: #AB1F09;
}

.choice-word {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.choice-word::before {
    content: '';
    display: inline-block;
    width: 150px;
    border: 1px solid #F2F2F2;
}

.choice-word::after {
    content: '';
    display: inline-block;
    width: 150px;
    border: 1px solid #F2F2F2;
}

.account{
    display: flex;
    flex-direction: column;
    margin: 11px 0 15px;
}

input {
    padding: 16px 20px 16px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.account-input {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
}

.account-input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #bebebe;
}

.account-input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-agree {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox-agree-link {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.submit-text {
    font-size: 16px;
    line-height: 16px;
    padding: 16px 99px;
    color: #fff;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    outline: none;
}
