.form-delivery {
   background-color: #0E0F11;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 60px 0;
 
   &__form {
     display: flex;
     flex-direction: column;
     color: #282c34;
     background-color: gray;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
     padding: 25px 40px;
   }
 
   &__label {
     display: flex;
     flex-direction: column;
     font-size: 18px;
     margin: 6px 6px 10px 6px;
 
     input {
       padding: 10px 20px;
     }
   }
 
   &__submit-btn {
     background-color: darkslategray;
     margin-top: 25px;
   }
 }
 
 .form-error {
   color: crimson;
 } 