@import "fonts.css";

body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic one', sans-serif;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 800px;
    text-align: justify;
}

.angled-text {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: angled-text 30s linear infinite;
}

.angled-text > .title {
    font-size: 90%;
    text-align: center;
}

.angled-text > h1 {
    margin: 0 0 100px;
}

@keyframes angled-text {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}