.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 30px 0;
  background: gray;
  border-radius: 5px;
  color: white;
  padding: 20px 15px;
  position: relative;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px 0 5px;
  }

  &__img-wrapper {
    width: 150px;
    height: 150px;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__author {
    color: darkgrey;
    margin-bottom: 10px;
  }

  &__name {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
  }
  .svg-wrapper-star {
   position: absolute;
   top: 3px;
   right: 5px;
   cursor: pointer
 }

 .svg-wrapper-cross {
   position: absolute;
   top: 16px;
   right: 6px;
   cursor: pointer
 }
}
