.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}


.modal {
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rebeccapurple;
  border-radius: 4px;
  padding: 25px;
  color: darkgray;



  .crossBtn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: 1px solid darkgray;
      font-size: 14px;
      padding: 5px;
  }
}

