* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
}

.nav-list-item {
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-size: 18px;
    display: inline;
    align-items: center;
    margin-right: 50px;
}

.container {
    width: 1280px;
    padding: 30px 0;
    text-align: center;
}

.container-nav {
    margin: 0 auto;
    width: 1280px;
    padding: 30px 0;
    text-align: center;
}

.container-main {
    margin: 0 auto;
    width: 1280px;
    text-align: center;
    margin-bottom: 50px;
}

.main-title {
    color: #373737;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    padding: 38px;
    text-align: center;
}

.main-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 0 67.5px 28px 67.5px;
    text-align: center;
    color: #000;
}

.start-btn {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 4px;
    padding: 18px 43px;
    cursor: pointer;
}

.change-btn {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c4c4c4;
    border-radius: 4px;
    padding: 18px 43px;
    cursor: pointer;
}

.copy-right {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    display:block;
    padding: 0 105px 29px 713px;
    text-align: center;
    color: #000;
}