button {
  padding: 20px;
  margin: 20px 15px;
  text-transform: uppercase;
  color: darkgray;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalBtn {
  padding: 15px;
  margin: 20px;
  text-transform: uppercase;
  color: darkgray;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgb(77, 39, 116);
  cursor: pointer;
  }
