* {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
}

.navbar-company-img {
    padding: 0 27px;
}

.navbar-company-logo_text {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.navbar-list {
    display: flex;
}

.navbar-list-link {
    padding-right: 34px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-list-link:hover {
    color: #14B9D5;
}

.search {
    width: 17px;
    height: 17px;
    padding: 25px;
    background-color: #000;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header-bg.jpeg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 362px;
}

.header {
    margin-bottom: 50px;
}

.header-title {
    font-size: 27px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 164px 0 60px;
}

.header-button {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    color: #fff;
}

.subscribe-btn {
    padding: 17px;
    background-color: #89CA62;
    border-radius: 5px;
}

.b-articles-btn {
    padding: 17px;
    background-color: #14B9D5;
    border-radius: 5px;
}

.most-popular-posts {
    margin-bottom: 95px;
}

.posts-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 780px;
}

.most-popular-posts-item {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 31px;
    text-align: center;
}

.posts-img {
    padding-bottom: 20px;
}

.most-popular-posts-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #353A3D;
    padding-bottom: 50px;
}

.popular-clients {
    background: url("../img/parallax-bg.jpeg") no-repeat center center;
    background-size: cover;
    height: 588px;
    margin-bottom: 50px;
}

.popular-clients-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    padding: 106px 0 87px;
    color: #fff;
}

.brands {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 58px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.blue-headline {
    font-size: 27px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.top-rated {
    margin-bottom: 50px;
}

.top-rated-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-photo {
    display: block;
    width: 270px;
}

.hot-news {
    margin-bottom: 50px;
}

.news-articles {
    display: grid;
    grid-template-columns: fit-content(260px) 35px fit-content(250px) 60px fit-content(250px) 35px fit-content(260px);
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 44px;
}

.news-article-prophecy {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
}

.news-articles-prophecy_text {
    padding-top: 35px;
}

.news-article-nebula {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row: 1;
}

.title-middle {
    text-align: center;

}

.title-end {
    text-align: end;
}

.news-article-western {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

.news-article-maldives {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row: 2;
}

.news-article-tenerife {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

.news-article-gb {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row: 3;
}

.news-article-ireland {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4;
}

.news-article-spain {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row: 4;
    display: flex;
}

.news-article-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #353A3D;
    padding: 14px 24px 14px 0;
}

.news-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #5B6469;
    text-align: end;
    padding: 0 24px 0 1px;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0;
    background-color: #000;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footer-logo {
    width: 38px;
    height: 24px;
}

.footer-logo-text {
    width: 64px;
    height: 16px;
}

.rights {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: #fff;
}

.blue-line {
    width: 60px;
    border-top: 1px solid #18B4CF;
    margin-bottom: 106px;
}
