.footer {
   display: flex;
   justify-content: space-between;
   padding: 40px 300px;
   background-color: darkslategray;
   border-top: 1px solid rgba($color: gray, $alpha: 0.6);
   color: gray;
 }
 