.wrapper {
    background: url("../img/background.png")no-repeat center center / cover;
}

a {
    text-decoration: none;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding-top: 46px;
    margin-bottom: 26px;
}

.header-logo-link {
    display: flex;
    align-items: center;
}

.header-logo-link:hover .header-logo {
    content: url("../img/MH-logo-hover.svg");
    width: 53px;
    height: 47px;
    padding-right: 8px;
}

.header-logo-link:hover .header-logo-big {
    color: #F26522;
}

.header-logo-link:hover .header-logo-small {
    color: #F26522;
}

.header-logo-img {
    width: 53px;
    height: 47px;
    padding-right: 8px;
}

.header-logo-big {
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header-logo-small {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contacts-link {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.contacts-link:hover {
    color: #F26522;
}

.main {
    margin-bottom: 10px;
}

.tours-card {
    margin-bottom: 37px;
    position: relative;
}

.tours-title {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-align: center;
}

.tours-gallery-top, .tours-gallery-bottom {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.tours-gallery-link:hover .tours-title {
    color: #F26522;
}

.tours-gallery-link:hover .tours-details {
    color: #F26522;
    display: block;
    opacity: 1;
}

.tours-details, .tours-details-row2 {
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 162px;
    pointer-events: none;
    background-color: #F26522;
}

.tours-gallery-link:hover .tours-details-row2 {
    color: #F26522;
    display: block;
    opacity: 1;
}

.details-position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 16px;
}

.details-from {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
    width: 100%;
}

.currency, .number  {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}

.view-details {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}

.view-details::after {
    content: url("../img/view-details-sign.png");
    margin-left: 16px;
}

.tours-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 20px;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}

.footer {
    padding-bottom: 15px;
    text-align: center;
}