button {
  padding: 10px;
  margin: 10px 5px;
  color: #fff;
  background-color: darkslategray;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalButtons {
  padding: 10px 15px;
  margin: 15px 15px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}
