* {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


.header-menu {
    width: 1280px;
    height: 72px;
    margin-bottom: 50px;
    background: rgba(53, 68, 79, 1);
}

.header-logo {
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    margin: 62px 0 38px;
    color: #000000;
}

.header-menu-list {
    display: flex;
    width: 969px;
    margin: 0 auto;
}

.header-menu-item {
    display: flex;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    border-left: 1px solid #ffffff;
}

.header-menu-link {
    color: #fff;
    padding: 20px 30px;
}

.header-menu-link:hover {
    border: 1px solid #fff;
    background: rgba(34,47,58,1);
}

.text-color {
    color: #000;
}

.text-blue {
    color: skyblue;
}

.sidebar {
    display: inline-block;
}

.sidebar-list {
    border: 1px solid #000;
    width: 344px;
    margin-right: 52px;
}

.sidebar-list-item {
    font-size: 27px;
    line-height: 27px;
    padding: 32px;
}

.sidebar-list-item:hover {
    background: #DBDBDB;
}

.sidebar-item-link {
    color: #485863;
}

.main {
    display: flex;
}

.main-article-image {
    border: 1px solid #000000;
    width: 320px;
    padding: 75px 280px;
    display: block;
    margin-bottom: 20px;
}

.img-size {
    width: 320px;
    transition: width, height linear 0.3s;
}

.img-size:hover {
    transform: scale(1.2, 1.2);
}

.main-article-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 17px 0;
    color: #2C2C2C;
}

.footer {
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-around;
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu-list {
    display: flex;
}

.footer-menu-item,
.footer-menu-item:after,
.footer-menu-item:before {
    font-size: 28px;
    line-height: 28px;
    transition: all 0.5s;
}

.footer-menu-item:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid #3181A6;
}

.footer-item-link {
    color: #0C1927;
    transition: all 0.5s;
    padding: 20px 20px;
}

.footer-item-link:hover {
    color: #3181A6;
}

.footer-copy-right {
    display: block;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}