.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 300px;
  background-color: darkslategray;
  border-bottom: 1px solid rgba($color: gray, $alpha: 0.6);

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__img {
      width: 130px;
      height: 130px;
    }

    &__text {
      color: dimgray;
      margin-left: 15px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .navbar {
    &__list {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      list-style: none;
      color: dimgray;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 40px;
      cursor: pointer;
    }
  }
}
