.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  position: absolute;
}

.modal {
  width: auto;
  z-index: 1100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242527;
  border-radius: 4px;
  padding: 25px;
  color: white;

  .cross-btn {
    position: absolute;
    top: -20px;
    right: -10px;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .btn-ok {
    background-color: lightseagreen;
  }

  .btn-cancel {
    background-color: #3d3e40;
  }
}
