.footer {
  background-color: #000;

  &__container {
    @include flexColumnCenter;
    padding: 38px 35px 47px;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }

  &__title {
    @include mobileTitle;
    color: #FEFEFE;
    margin-bottom: 8px
  }

  &__title::before,
  &__title::after {
    content: '-';
    padding-right: 5px;
    padding-left: 5px;
  }

  &__text--mobile {
    color: $footerLightGrey;
    font-size: 12px;
    line-height: 20px;
  }

  &__logos-wrap {
    padding: 25px 0;
  }

  &__logos {
    margin: 0 3px;
  }

  &__contacts {
    @include flexColumnCenter;
    font-size: 14px;
    line-height: 24px;
    color: $footerLightGrey;
  }
  &__city::after,
  &__tel::after {
    content: '/';
    margin-left: 10px;
  }
}