.gallery {
  @include flexColumn;
  margin: 40px 0;

  &__title {
    @include mobileTitle;
    padding-bottom: 23px;
  }

  &__title::before {
    content: '-';
    padding-right: 5px;
  }

  .article {
    &__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      color: $darkGreyTitle;
      margin-top: 10px;
    }

    &__comments {
      font-size: 11px;
      line-height: 20px;
      color: $lighterGreyComments;
    }
  }
}