.form {
    margin: 50px;
    position: relative;
}

.input {
    padding: 10px;
}

.input:focus {
    outline: none;
}

.current-price {
    font-size: 14px;
    position: absolute;
    top: 25px;
    left: 100px;
}

.error-price {
    font-size: 14px;
    position: absolute;
    top: 105px;
    left: 100px;
}