@media (min-width: 1200px) {
.hero {
  &-nav {
    padding: 42px 170px;
  }

  &__img-wrapper {
    padding: 0 100px;
    margin: 0 auto;
  }
}

  .gallery {
    padding: 66px 100px 69px;
    margin: 0 auto;

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px 25px;
    }

    .article {
      margin: 0;
    }
  }

  .footer {
    &__container {
      padding: 66px 100px 70px;
    }
  }
}