@media (min-width: 320px) and (max-width: 600px) {

  body {
    overflow-x: hidden;
  }

  .hero {
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
  }

  .hero-nav {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    top: 66px;
    right: -200px;
    transition: 0.5s right;

    &__items {
      color: $darkGreyTitle;
      text-transform: uppercase;
      background-color: #F5F5F5;
      padding: 2px 60px 2px 10px;
      @include fontSmallest;

      &:hover {
        color: $hoverGreen;
        background-color: #E5E5E5;
      }
    }
  }

   .burger--opened + .hero-nav {
    right: 25px;
  }

  .article {
    &__text {
      display: none;
    }
  }

  .gallery {

    &__item:not(:nth-child(3)) {
      margin-bottom: 28px;
    }

    &__item:last-child {
      display: none;
    }
  }

  .footer {
    &__text {
      display: none;
    }
  }
}

@media (min-width: 601px) and (max-width: 767px) {

  .hero {
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
  }

  .hero-nav {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    top: 66px;
    right: -200px;
    transition: 0.5s right;

    &__items {
      color: $darkGreyTitle;
      text-transform: uppercase;
      background-color: #F5F5F5;
      padding: 2px 60px 2px 10px;
      @include fontSmallest;

      &:hover {
        color: $hoverGreen;
        background-color: #E5E5E5;
      }
    }
  }

  .burger--opened + .hero-nav {
    right: 25px;
  }

  .gallery {
    padding: 0 60px;
    margin: 40px 0;

    &__item:not(:nth-child(3)) {
      margin-bottom: 28px;
    }

    &__title {
      margin: 0;
      font-size: 16px;
    }

    .article {
      display: flex;

      &__title {
        margin: 0;
        font-size: 16px;
      }

      &__text-wrap {
        margin-left: 20px;
      }

      &__comments {
        font-size: 12px;
      }

      &__text {
        font-size: 14px;
        line-height: 26px;
        color: $lightGreyText;
        margin-top: 5px;
      }
    }

    .last {
      display: none;
    }
  }
}