@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .hero {
    &__img-wrapper {
      margin: 0;
      padding: 0 80px;
    }

    &-nav {
      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
  .gallery {
    padding: 0 80px;
    margin: 60px 0;

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 16px;
    }

    .article {
      display: flex;

      &__title {
        margin: 0;
        font-size: 16px;
      }

      &__text-wrap {
        margin-left: 20px;
      }

      &__comments {
        font-size: 12px;
      }

      &__text {
        font-size: 14px;
        line-height: 26px;
        color: $lightGreyText;
        margin-top: 5px;
      }
    }
  }

.footer {
&__container {
  padding: 57px 80px;
}
  &__title {
    font-size: 16px;
  }
  &__text--mobile {
    display: none;
  }
  &__text {
    font-size: 16px;
    line-height: 28px;
    color: $footerLightGrey;
  }
  &__logos-wrap {
    padding: 35px 0;
  }
  &__contacts {
    @include flexRowCenter;
    font-size: 16px;
  }
  &__city::after,
  &__tel::after {
    margin: 0 10px;
  }
}
}
